node_modules
dist
build
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.vite
.turbo
.prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
uploads
.idea
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo
playwright-report
test-results
